apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
  namespace: devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: devops-app
        image: <AWS_ACCOUNT_ID>.dkr.ecr.<REGION>.amazonaws.com/devops-assignment:IMAGE_TAG
        ports:
        - containerPort: 8080
        env:
        - name: NODE_ENV
          value: production
