name: Build, Push and Deploy to EKS

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    outputs:
      short_sha: ${{ steps.sha.outputs.SHORT_SHA }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Extract Git SHA (short)
      id: sha
      run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_OUTPUT

    - name: Build & Push Docker Image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: ${{ vars.ECR_REPOSITORY }}
        SHORT_SHA: ${{ steps.sha.outputs.SHORT_SHA }}
      run: |
        IMAGE="${REGISTRY}/${REPOSITORY}:${SHORT_SHA}"
        docker build -t "${IMAGE}" .
        docker push "${IMAGE}"

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --region ${{ vars.AWS_REGION }} \
          --name ${{ vars.EKS_CLUSTER_NAME }}

    - name: Apply Deployment Manifest With New Image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: ${{ vars.ECR_REPOSITORY }}
        SHORT_SHA: ${{ needs.build-and-push.outputs.short_sha }}
      run: |
        IMAGE="${REGISTRY}/${REPOSITORY}:${SHORT_SHA}"
        sed -i "s|IMAGE_NAME|${IMAGE}|g" k8s/deployment.yaml
        kubectl apply -f k8s/namespace.yaml
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml

    - name: Wait for Deployment Rollout
      run: |
        kubectl rollout status deployment/devops-app -n devops --timeout=180s
