name: Build, Push and Deploy to EKS

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    outputs:
      IMAGE: ${{ steps.export_image.outputs.IMAGE }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Extract short SHA
      id: sha
      run: echo "SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV

    - name: Build & Push Docker Image
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        REPOSITORY: ${{ vars.ECR_REPOSITORY }}
      run: |
        IMAGE="$REGISTRY/$REPOSITORY:${SHA}"
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV

        docker build -t "$IMAGE" .
        docker push "$IMAGE"

    - name: Export IMAGE for next job (NO MASKING)
      id: export_image
      run: |
        echo "IMAGE=${IMAGE}" 
        echo "IMAGE=${IMAGE}" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --region ${{ vars.AWS_REGION }} \
          --name ${{ vars.EKS_CLUSTER_NAME }}

    - name: Inject image
      env:
        IMAGE: ${{ needs.build-and-push.outputs.IMAGE }}
      run: |
        echo "Using IMAGE: $IMAGE"
        sed -i "s|IMAGE_NAME|$IMAGE|g" k8s/deployment.yaml
        cat k8s/deployment.yaml

    - name: Deploy
      run: |
        kubectl apply -f k8s/namespace.yaml
        kubectl apply -f k8s/deployment.yaml
        kubectl apply -f k8s/service.yaml
